

   <div class="justify-content-center align-content-center">
       <br>
  <center> &copy; {{ year }} IMAGE SERVER  | <a target="_blank" href="https://binaryhills.org"> @ Binary Hills </a>


  </center>
  <br>
  <br>
   </div>
<script src="{{route_assets}}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{route_assets}}/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="{{route_assets}}/bower_components/moment/moment.js"></script>
<script src="{{route_assets}}/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="{{route_assets}}/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="{{route_assets}}/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="{{route_assets}}/bower_components/ckeditor/ckeditor.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="{{route_assets}}/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="{{route_assets}}/bower_components/dropzone/dist/dropzone.js"></script>
<script src="{{route_assets}}/bower_components/editable-table/mindmup-editabletable.js"></script>
<script src="{{route_assets}}/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{route_assets}}/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script src="{{route_assets}}/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="{{route_assets}}/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="{{route_assets}}/bower_components/tether/dist/js/tether.min.js"></script>
<script src="{{route_assets}}/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap/js/dist/util.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap/js/dist/button.js"></script>


<script src="{{route_assets}}/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="{{route_assets}}/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="{{route_assets}}/js/dataTables.bootstrap4.min.js"></script>
<script src="{{route_assets}}/js/demo_customizer.js?version=4.4.0"></script>
<script src="{{route_assets}}/js/main.js?version=4.4.0"></script>

<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
<link rel="stylesheet" href="{{route_assets}}/izitoast/dist/css/iziToast.min.css">
<script src="{{route_assets}}/izitoast/dist/js/iziToast.min.js"></script>


<script src="{{route_assets}}/js/process.js"></script>



