
<title>{{ page_title | capitalize }} </title>
<meta charset="utf-8">
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="template language" name="keywords">
<meta content="Okokoh Ben" name="author">
<meta content="IMAGESERVER " name="description">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="{{route_assets}}/img/logo2.png" rel="shortcut icon">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
<link href="{{route_assets}}/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
<link href="{{route_assets}}/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="{{route_assets}}/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
<link href="{{route_assets}}/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="{{route_assets}}/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
<link href="{{route_assets}}/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
<link href="{{route_assets}}/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
<link href="{{route_assets}}/css/main.css?version=4.4.0" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>

<script>
   if (location.protocol != 'https:')
    {
        location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
    }
</script>

